h1{color:rgb(6, 0, 125);font-size:100px ; text-decoration:underline ; font-style: italic; background-color:blanchedalmond; border:5px #000 solid ;}
h2{ color: rgb(5, 126, 156); font-size:40 ; text-decoration:underline; background-color:rgb(255, 255, 255); border:8px #000 solid ;}
h3{ color: rgb(0, 0, 0); font-size:20 ; background-color:rgb(255, 255, 255);border:6px #000 solid ;}
h4{color:rgb(63, 4, 103);font-size:50px;}
 body{background-image: url("0000000000.jpg");}




  
